<div class="fixed bottom-0 left-0 w-full h-24 bg-gradient-to-r from-green-400 to-teal-500 ">

<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" class="icon-style"></mat-icon>
<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_balance_wallet" class="icon-style" ></mat-icon>
<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="payment" class="icon-style"></mat-icon>
<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="settings" class="icon-style"></mat-icon>

</div>
